#header1 {
    padding: 2px;
}
#toggler-icon {
    width: 24px;
    margin: 10px ;
}
#logo {
    margin: 0 6px;
    width: 40px;
    height: 40px;
}
#header1 span {
    margin-left: 5px;
    line-height: 44px;
    opacity: .54;
    font-size: 22px;
    font-family: 'Product Sans',Arial,sans-serif;
}
#header2 {
    height: 48px;
    padding: 2px;
}
#header2date {
    height: 48px;
}
#header2date a:nth-child(1) {
    margin: 7px 30px 0 0;
    float: left;
    border-radius: 3px ;
    background-color: #eeeeee;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    opacity: .8;
}
#header2date a:nth-child(2) {
    text-decoration: none;
    margin: -8px 20px 0 0;
    float: left;
    font-size: 35px;
}
#header2date a:nth-child(3) {
    text-decoration: none;
    margin: -8px 30px 0 0;
    float: left;
    font-size: 35px;
}
#header2date p {
    font-size: 20px;
    font-weight: 400;
    opacity: .54;
    line-height: 44px;
    float: left;
}
#header2tool a:nth-child(1) img {
    width: 30px;
    margin-top: 9px;
    float: left;
}
#header2tool .dropdown:nth-child(2) {
    background-color: rgb(255, 255, 255);
    margin: 5px 10px 10px 20px;
    float: left;
}
#header2tool .dropdown button {
    font-weight: 400;
    padding: 3px 10px;
    opacity: .7;
}
#header2tool .dropdown:nth-child(3) {
    float: left;
    margin-left: 10px;

}
#appgoogle {
    margin-left: 30px;
    float: left;
    width: 25px;
}

