body {
    background: url(https://static1.squarespace.com/static/53cfa987e4b0e86a1a6555ce/t/59e66319d7bdced2f3cefc70/1508270890544/Alucard-Hellsing-Ultimate.jpg) repeat;
    background-size: 20%;
}
.btn {
    color: white;
    width: 120px;
    background-color: #103225;
    padding: 5px 0 5px 15px;
    margin: 20px 0;
    border-radius: 40px;
}
.date span {
    margin: 0 50px;
}
.table-borderless {
    padding: 0px;
    line-height: 20px;
    width: 100%;
    font-size: 10px;
}
.table-borderless tbody tr td {
    text-align: center;
}
.headertable {
   padding: 10px 20px;
}
.headertable span {
    font-size: 14px;
}
.headertable div {
    float: right;
}
.headertable a {
    cursor: pointer;
    margin:  0 10px;
    text-decoration: none;
    color: #eeeeee;
}
.tab {
    color: white;
    display: none;
    padding: 0 19px 16px 19px;
    width: 250px;
    height: auto;
    background: url(https://orig00.deviantart.net/6c66/f/2009/326/3/5/alucard_wallpaper_by_idiotgirlxd.jpg) no-repeat;
    background-size: 100%;
}
.container-fluid > div {
    background: url(https://i.pinimg.com/originals/1b/fc/32/1bfc320a277ab4d08c18c4677d9c674d.jpg) repeat;
    background-size: 20%;
    border-radius: 40px;
    position: relative;
}
.ngaycualich {
    cursor: pointer;
}
.container-fluid {
    margin: 100px 400px;
}
.date {
    border-radius: 10px ;
    margin: 0 350px;
}
