body {
    color: white;
    background: url(https://images4.alphacoders.com/190/190654.jpg) repeat;
    background-size: 20%;
}
.container {
    width: 70%;
    margin: auto;
}
h1 {
    margin-bottom: 0;
    color: darkred;
    padding: 0 500px
}
.clicked {
    margin-top: 0;
    color: red;
    padding: 0 520px;
}
.img {
    cursor: pointer;
    margin: 0 550px;
    width: 200px;
    height: auto;
}
.textBoxZone {
    padding: 0 195px;
}
#zone1 {
    margin: 0 80px;
    float: left;
}
#zone2 {
    margin: 0 80px;
    float: left;
}
.textBox1 {
    width: 130px;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 30px;
}
.textBox2 {
    width: 130px;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 30px;
}
.one {
    margin: 50px 0 250px 0;
}
.one p {
    font-size: 28px;
    margin: 0 560px;
    color: goldenrod;
}
.one input:nth-child(3) {
    font-size: 15px;
    color: white;
    background: url(https://static1.squarespace.com/static/53cfa987e4b0e86a1a6555ce/t/59e66319d7bdced2f3cefc70/1508270890544/Alucard-Hellsing-Ultimate.jpg);
    background-size: 20%;
    margin: 0 550px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid wheat;
}
.one input:nth-child(3)::-webkit-input-placeholder {
    color: #feff47;
    font-size: 15px;
    padding-left: 10px;
}
.editcalendar {
    position: relative;
    margin-top: 50px;
}
.two p {
    font-size: 28px;
    margin: 0 545px;
    color: goldenrod;
}
.two {
    margin: 50px 0 260px 0;
}
.img2 {
    cursor: pointer;
    margin: 0 550px 50px 550px;
    width: 200px;
    height: auto;
}
.tab {
    display: none;
    position: absolute;
    color: white;
    padding: 0 19px 16px 19px;
    width: 250px;
    height: auto;
    background: url(https://orig00.deviantart.net/6c66/f/2009/326/3/5/alucard_wallpaper_by_idiotgirlxd.jpg) no-repeat;
    background-size: 100%;
}
.left {
    top:340px;
    left:390px;
}
.right {
    top:340px;
    left:854px;
}
.navigation-bar {
    padding: 10px 20px;
}
#nextbtn {
    cursor: pointer;
    float: right;
}
#prevbtn {
    cursor: pointer;
    margin-right: 25px;
    float: right;
}
.table {
    padding: 0;
    line-height: 20px;
    width: 100%;
    font-size: 10px;
}
.dateOfCalendar {
    cursor: pointer;
    text-align: center;
}
.taolao input {
    font-size: 20px;
    color: white;
    background: url(https://static1.squarespace.com/static/53cfa987e4b0e86a1a6555ce/t/59e66319d7bdced2f3cefc70/1508270890544/Alucard-Hellsing-Ultimate.jpg);
    background-size: 20%;
    margin: 0 450px;
    width: 400px;
    height: 100px;
    border-radius: 30px;
    border: 3px solid wheat;
}
.taolao input::-webkit-input-placeholder {
    color: #feff47;
    font-size: 20px;
    padding-left: 50px;
}
.taolao img {
    width: 100%;
    height: auto;
}
.taolao {
    margin: 220px 0;
}